<article class="filter">
  <div class="filter__toggles">
    {{#each filtersValues as |value|}}
      <button class="filter__check" type="button" name="project-filter" {{action 'handleFilterEntry' value}}>{{value}}</button>
    {{/each}}
  </div>
</article>

{{yield results}}
