<footer class="footer">
  <ul class="footer__social">
    <li><a href="https://www.facebook.com/NZ.Runaway/">Facebook</a></li>
    <li><a href="https://vimeo.com/runawaynewzealand">Vimeo</a></li>
    <li><a href="https://www.instagram.com/runaway.nz/">Instagram</a></li>
  </ul>
</footer>
