<footer class="footer">
  <ul class="footer__social">
    <li><a href="https://www.facebook.com/NZ.Runaway/">
      <i class="fab fa-facebook-f"></i>
    </a></li>
    <li><a href="https://vimeo.com/runawaynewzealand">
      <i class="fab fa-vimeo-v"></i>
    </a></li>
    <li><a href="https://www.instagram.com/runaway.nz/">
      <i class="fab fa-instagram"></i>
    </a></li>
  </ul>
</footer>
