<nav class="navbar__nav">
  {{#link-to "index" class="navbar__link--home"}}Home{{/link-to}}
  {{#link-to "work" class="navbar__link--work"}}Work{{/link-to}}
  {{#link-to "about" class="navbar__link--about"}}About{{/link-to}}
  {{#link-to "contact" class="navbar__link--contact"}}Contact{{/link-to}}
</nav>

{{yield}}
