<div class="three-player">
  {{!-- {{ivy-videojs
    class="three-player__video"
    canplay=canplay
    controls=false
    ended=ended
    pause=pause
    playing=playing
    loop=true
    src='/video/test1.mp4'}} --}}
</div>

{{yield}}
