{{#if isDisplayed}}
  <iframe src={{videoSrc}} width="100%" height="100%" frameBorder="0" allowFullScreen></iframe>
{{else}}
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <div class="video-vendor__container--inactive">
    </div>
  {{/if}}
{{/if}}
