.filter{
  color: $text-primary;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  z-index: 1;
}
.filter__toggles{
  background-color: $brand-primary;
  text-align: center;
}
.filter__check{
  @include icon-button;
  display: inline-flex;
  font-size: small;
  letter-spacing: 2px;
  margin: 10px;
  text-transform: uppercase;
}
.filter__check.selected{
  background: $brand-secondary;
  color: $text-inverse;
}
