.navbar{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}

// Landing page -specific styles
.isLanding{
  .navbar{
    position: absolute;
  }
  .navbar.menuOpen{
    mix-blend-mode: multiply;
  }

  *{
    color: $text-inverse;
  }
}

// If menu is open
.navbar.menuOpen{
  background: black;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
  position: absolute;
  text-align: center;
  z-index: 1;

  *{
    color: $text-inverse;
    font-size: $size-03;
  }
}
