.video-js{
  margin: 0 auto;
}
.video-js, .vjs-tech{
  border-radius: 20px;
}


.project-item{
  position: relative;
}
.project-item__title{
  font-size: 8vw;
  @include header-outline(2px);
}

.project-item__edit, .project-item__info{
  display: flex;
  flex-flow: row wrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;

  & *{
    flex-grow: 1;
    margin: 10px;
  }

  & button{
    flex-grow: 0;
    margin: 10px;
  }
}

.project-item__field{
  align-items: center;
  display: flex;

  label{
    flex-grow: 0;
    margin: 0px;
  }

  input{
    flex-grow: 1;
  }
}

.project-item__field.title{
  width: 100%;
}

.project-item__submit{
  flex-grow: 0;
  margin: 0 auto;
}

// Unauthenticated
.project-item__info{
  align-items: center;
  height: 100%;
  left: 0px;
  min-width: 100%;
  position: absolute;
  text-align: center;
  top: 0px;

  .project-item__category{
    width: 100%;
  }
  *{
    color: white;
  }
}

.project-item__meta{

  span{
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .project-item__divider{
    border: 1px solid white;
    margin: 20px auto;
    width: 60%;
  }
}

@media (max-width: 700px){
  .project-item__meta{
    display: none;
  }
}
