$dark-peach: #e8b0a1;
$grey: #636363;
$pink: #fff4f1;
$shadow: #b9b9b9;

$brand-primary: $dark-peach;
$brand-secondary: black;
$text-primary: $grey;
$text-inverse: $dark-peach;

$background-colour: $pink;
$background-gradient: radial-gradient($background-colour, white, $background-colour);
