@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Metamorphous|Lato');


$size-05: 4.2rem;
$size-04: 3.4rem;
$size-03: 2.8rem;
$size-02: 2.4rem;
$size-01: 2.0rem;
$size-base: 1.8rem;

@mixin primary-font {
  font-family: 'Metamorphous', sans-serif;
}

@mixin runaway-logotype--white {
  display: block;
  background-image: url('/img/branding/runaway_logotype.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(0);
  height: calc(56px / 2);
  width: calc(376px / 2);
}

@mixin runaway-logotype--black {
  @include runaway-logotype--white;
  filter: invert(1);
}

@mixin text-header {
  @include primary-font;
  text-transform: lowercase;
};
