
@mixin bg-img-settings {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

@mixin runaway-logotype--white($scale) {
  @include bg-img-settings;
  background-image: url('/img/branding/runaway_logotype.svg');
  filter: invert(0);
  height: calc(56px / #{$scale});
  width: calc(376px / #{$scale});
}
@mixin runaway-logotype--black($scale) {
  @include runaway-logotype--white($scale);
  filter: invert(1);
}

@mixin runaway-logotype-round--white {
  @include bg-img-settings;
  background-image: url('/img/branding/runaway_logotype_round.svg');
  filter: invert(0);
  height: calc(223px / 2);
  width: calc(229px / 2);
}
@mixin runaway-logotype-round--black {
  @include runaway-logotype-round--white;
  filter: invert(1);
}

@mixin runaway-logo--white($scale) {
  @include bg-img-settings;
  background-image: url('/img/branding/runaway_logo.svg');
  filter: invert(0);
  height: calc(223px * #{$scale});
  width: calc(229px * #{$scale});
}
@mixin runaway-logo--black($scale) {
  @include runaway-logo--white($scale);
  filter: invert(1);
}

@mixin runaway-skeleton--white($scale) {
  @include bg-img-settings;
  background-image: url('/img/branding/runaway_skeleton.svg');
  filter: invert(0);
  height: calc(232px * #{$scale});
  width: calc(201px * #{$scale});
}
@mixin runaway-skeleton--black($scale) {
  @include runaway-skeleton--white($scale);
  filter: invert(1);
}
