// Input overrides
button, input, input[type="submit"], input[type="reset"] {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 0;
}

input, textarea{
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  background: #ededed;
}
