@mixin text-header {
  @include primary-font;
  text-transform: lowercase;
};

@mixin header-outline($stroke) {
  color: $background-colour;
  -webkit-text-fill-color: transparentize($background-colour, 0.7);
  -webkit-text-stroke-color: $background-colour;
  -webkit-text-stroke-width: $stroke;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, small
a, button, input, textarea, option, span, label, li{
  font-family: 'Lato', sans-serif;
  color: $text-primary;
  font-size: 1.8rem;
}

small{
  font-size: initial;
}

a{
  color: $text-primary;
  text-decoration: none;
}

html { font-size: 62.5%; }
h1   {
  @include text-header;
  font-size: $size-05;
}
h2   {
  @include text-header;
  font-size: $size-04;
}
h3   { font-size: $size-03; }
h4   { font-size: $size-02; }
h5, h6   { font-size: $size-01; }
body { font-size: $size-base; }

// Icon styles
i{
  color: lighten($brand-primary, 10%);

  &:hover{
    transition: 0.5s;
    color: $brand-primary;
  }
}
