.about {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  min-height: 80vh;
  text-align: center;

  & * {
    margin: 10px 0;
  }
}

.about__container {
  margin: 0 20px;
}

.about__header-skeleton {
  @include runaway-skeleton--dark(1);
  margin: 0 auto 60px auto;
  width: 100%;
}

.about__header-img {
  @include runaway-logotype--dark(1);
  margin: 0 auto 30px auto;
  width: 100%;
}

.about__header-overview {
  font-size: $size-01;
  line-height: $size-03;
  margin: 40px auto;
  max-width: 900px;
  text-align: center;
}

.about__title {
  @include primary-font;
  color: $brand-primary;
  text-transform: lowercase;
}

.about__title,
.about__intro {
  margin: 0 auto 30px auto;
}

.about__form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.about__input {
  flex-grow: 1;
  margin: 20px;
}
.about__message-field {
  margin: 20px;
  width: 100% !important;
  box-sizing: border-box;
}

.about__send-button {
  @include icon-button;
}

.about__reponse {
  width: 100%;
}

.about__messages {
  width: 100%;
}
.about__message {
  align-items: center;
  display: flex;
}
.about__message-body {
  flex-grow: 1;
}
.about__delete-button {
  height: fit-content;
  width: fit-content;
}

body {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}
@-webkit-keyframes color-change-2x {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  100% {
    background: rgba(159, 182, 255, 0.1);
  }
}
@keyframes color-change-2x {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  100% {
    background: rgba(159, 182, 255, 0.1);
  }
}
