.contact{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 80vh;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;

  & *{
    margin: 10px 0;
  }
}

.contact__container{
  margin: 0 20px;
}

.contact__title, .contact__intro{
  margin: 0 auto 30px auto;
}

.contact__form{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.contact__input{
  display: flex;
  flex-flow: column;
  max-width: 50%;
  min-width: 250px;
}
.contact__message{
  align-items: center;
  width: 100%;
}
.contact__message-label{
  display: block;
  margin: 10px auto;
  width: 80%;
}
.contact__message-field{
  width: 80%;
}

.contact__reponse{
  width: 100%;
}

.contact__messages{
  width: 100%;
}
