.contact{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  min-height: 80vh;
  text-align: center;

  & *{
    margin: 10px 0;
  }
}

.contact__container{
  margin: 0 20px;
}

.contact__header-img{
  @include runaway-logotype--dark(1);
  margin: 0 auto 30px auto;
  width: 100%;
}

.contact__title, .contact__intro{
  margin: 0 auto 30px auto;
}

.contact__form{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.contact__input{
  flex-grow: 1;
  margin: 20px;
}
.contact__message-field{
  margin: 20px;
  width: 100% !important;
  box-sizing: border-box;
}

.contact__send-button {
  @include icon-button;
}

.contact__reponse{
  width: 100%;
}

.contact__messages{
  width: 100%;
}
.contact__message{
  align-items: center;
  display: flex;
}
.contact__message-body{
  flex-grow: 1;
}
.contact__delete-button{
  height: fit-content;
  width: fit-content;
}
