.landing{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

// Hide video src for three.js player
.landing__video-src{
  display: none;
  z-index: 0;
}

.landing__info{
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.landing__title{
  color: $text-inverse;
  font-size: 16rem;
  margin: 0;
  // text-align: center;
  word-break: break-word;
  z-index: 9;
}

// If the menu is open, hide the project info container
.landing__info.menuOpen{
  display: none;
}

@media only screen and (max-width: 1000px) {
    .landing__title{
      color: red;
      font-size: 10rem;
    }
}
