.landing{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

// Hide video src for three.js player
.landing__video-src{
  display: none;
  z-index: 0;
}

.landing__info{
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  width: 100%;
  z-index: 99;
}

// If the menu is open, hide the project info container
.landing__info.menuOpen{
  display: none;
}

.landing__skeleton-icon{
  @include runaway-skeleton--white(0.7);
  bottom: 30px;
  position: absolute;
  right: 30px;
}
