.landing{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

// Hide video src for three.js player
.landing__video-src{
  display: none;
  z-index: 0;
}

.landing__info{
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.landing__title{
  color: $text-inverse;
  font-size: 10vw;
  margin: 0;
  word-break: break-word;
  z-index: 9;
  @include header-outline(3px);
}

// If the menu is open, hide the project info container
.landing__title.menuOpen{
  display: none;
}

.landing__skeleton-icon{
  @include runaway-skeleton--white(0.7);
  bottom: 30px;
  position: absolute;
  right: 30px;
}

@media only screen and (max-width: 600px) {
    .landing__title{
      font-size: 7rem;
    }
}

@media only screen and (min-width: 1800px) {
    .landing__title{
      font-size: 20rem;
    }
}
