.login{
  color: $text-primary;
}

// Authenticated
.login--authed{
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 50vh;
  justify-content: center;
  text-align: center;
}

.login__signout{
  margin-top: 20px;
}

// Unauthenticated
.login--unauthed{
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 50vh;
  justify-content: center;
  text-align: center;
}
.login--email, .login--password{
  margin: 20px;
}

.login--submit {
  @include icon-button;
  margin: 0 auto;
}
