.project-item__meta{
  margin-bottom: 40px;
}

.project-page--video-inactive{
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  *{
    color: $text-inverse;
    text-align: center;
  }

  .project-item__title{
    margin-bottom: 20px;
  }
}

// Fullscreen the background image
.project-page-player.video-vendor__container{
  height: 100vh !important;
}
