.work{
  color: white;
}
.create-project{
  display: flex;
  flex-flow: row wrap;
  max-width: 500px;
  margin: 0 auto;

  & *{
    flex-grow: 1;
    margin: 10px;
  }
}
.create-project__header{
  text-align: center;
  width: 100%;
}
.create-project__description, .create-project__title{
  width: 100%;
}
.create-project__submit{
  flex-grow: 0;
  margin: 0 auto;
}
