<div class="about">
  <main class="about__info">
    {{!-- <div class="about__header-img" /> --}}
    <div class="about__header-logotype" />

    <blockquote class="about__header-overview">
      Runaway was started with the desire to help people.
      We want to work together with you as experts in our field to help you transform and improve your business through our media content.
      Whether is be for social media, television or film we have all the skills we need to deliver the result you want.</blockquote>

    <div class="about__services-container">
      <div class="about__services-item" style="background-image: url('https://static1.squarespace.com/static/59accbaf8fd4d2d716ce023b/t/5aa0700ce4966bc8fcc52bd9/1520458534608/DSC04832.JPG?format=500w')">
        <div>
          <h2 class="about__services-title">Development &amp; Strategy</h2>
          <hr/>
          <p>We start at the very beginning, working with clients to develop creative video campaigns that work for them.</p>
        </div>
      </div>
      <div class="about__services-item" style="background-image: url('https://static1.squarespace.com/static/59accbaf8fd4d2d716ce023b/t/5aa0700ce4966bc8fcc52bdb/1520458551049/received_10153487896446619.jpeg?format=500w')">
        <div>
          <h2 class="about__services-title">On-set Production</h2>
          <hr/>
          <p>With years of industry experience behind us, our team knows how to get the job done and have fun along the way.</p>
        </div>
      </div>
      <div class="about__services-item" style="background-image: url('https://static1.squarespace.com/static/59accbaf8fd4d2d716ce023b/t/5aa0700ce4966bc8fcc52bdd/1520458693800/Colour.jpg?format=500w')">
        <div>
          <h2 class="about__services-title">Colour, Cut &amp; Sound</h2>
          <hr/>
          <p>We offer film finishing services with a professional workflow from cut to colour, sound and delivery.</p>
        </div>
      </div>
      <div class="about__services-item" style="background-image: url('https://static1.squarespace.com/static/59accbaf8fd4d2d716ce023b/t/5aa0700ce4966bc8fcc52bdf/1520457885921/Comp-2.gif?format=500w')">
        <div>
          <h2 class="about__services-title">Animation &amp; VFX</h2>
          <hr/>
          <p>Offering everything from video motion graphics to full 2D animation, we have got you covered.</p>
        </div>
      </div>
    </div>
  </main>
</div>


{{outlet}}
