<div>
  <h2>Runaway</h2>
  {{!-- {{#each model as |projectUnit|}}
    {{#if projectUnit.featured}}
      {{project-item project=projectUnit}}
    {{/if}}
  {{/each}} --}}
  {{three-player}}
</div>

{{outlet}}
