<div class="landing">
  <div class="landing__info">
    <h1>{{currentProject.title}}</h1>
  </div>
  {{#if videoIsPlaying}}
    {{three-player
      currentId=currentVideo.id
      videos=loadedVideos
    }}
  {{/if}}
  {{#each projects as |project|}}
    {{ivy-videojs
      id=project.id
      class="landing__video-src"
      canplay=(action 'videoReady')
      controls=true
      loop=true
      src=project.videoLocal}}
  {{/each}}
</div>

{{outlet}}
