<div class="">
  <h2>Runaway</h2>
  <p>{{projects.title}}</p>
  {{#each model as |projectUnit|}}
    {{#if projectUnit.featured}}
      {{!-- {{project-item project=projectUnit}} --}}
      {{three-player}}
    {{/if}}
  {{/each}}
</div>

{{outlet}}
