<div class="">
  <h2>Runaway</h2>
  <p>{{currentProject.title}}</p>
  {{#if allVideosLoaded}}
    {{three-player
      currentId=currentVideo.id
      videos=loadedVideos
    }}
  {{/if}}
  {{#each projects as |project|}}
    {{ivy-videojs
      id=project.id
      canplay=(action 'videoReady')
      controls=false
      loop=true
      src=project.videoLocal}}
  {{/each}}
</div>

{{outlet}}
