<div class="">
  <h2>Runaway</h2>
  <p>{{currentProject.title}}</p>
  {{three-player}}
  {{!-- {{#each model as |projectUnit|}}
    {{#if projectUnit.featured}}
      {{project-item project=projectUnit}}

    {{/if}}
  {{/each}} --}}
</div>

{{outlet}}
